/*
* @Author: xiaogang
* @Date:   2017-05-12 10:18:24
* @Last Modified by:   user
* @Last Modified time: 2017-05-31 15:09:12
*/
@charset "utf-8";

@import url('bootstrap.min.css');
@import url('../fonts/css/font-awesome.min.css');
@import url('../fontss/iconfont.css');/*阿里图标*/

/**初始化***/
body,dl,dd,p,h1,h2,h3,h4,h5,h6{margin:0;font-size:12px;}
ol,ul   {margin:0;padding:0;list-style:none;}
a   {text-decoration:none;} 
img  { border:none;vertical-align: top;}
.clearFix:after { content:"";display:block;clear:both;} 
.clearFix{zoom:1;}
table {border-collapse: collapse; }
td,th {padding: 0;}
form {margin: 0; }  
input {outline: none;margin: 0;padding: 0;box-sizing: content-box; } 
textarea {   margin: 0;padding: 0;resize: none;overflow: auto;outline: none; }  
strong {  font-weight: normal;}
em {  font-style: normal;}
mark {  background: none;}



.mtop10{margin-top:10px}
.mbot30{margin-bottom:30px}
.m-bot15 {margin-bottom:15px;}
.ml10{margin-left:10px;}
.ml30{margin-left:30px;}
.mr10{margin-right:10px;}
.mauto{margin:0 auto}
.center,.table > thead > tr > th{text-align:center;}
.inline-block{display:inline-block}
.wbreak{white-space:normal; word-break:break-all; word-wrap:break-word;}
.wellipsis{overflow:hidden; text-overflow:ellipsis;  white-space:nowrap;}
.text-left{text-align:left}
.text-right{text-align:right}
.v-top{vertical-align:top;}
.v-middle{vertical-align:middle;}
.center{text-align:center;}
.clearit{clear:both;}
.w50{width:50px}
.w100{width:100px}
.w150{width:150px}
.w220{width:220px}
.w360{width:360px}
.w500{width:500px}
.w562{width:562px}
.w1000{width:1000px;}
.w1200{width:1200px;}
.minh400{min-height:400px;}
.c-red{color:#f30}
.c-orange{color:#f60}
.c-green{color:#393}
.c-333{color:#333}
.c-666{color:#666}
.c-999{color:#999}
.c-ccc{color:#ccc}
.b-eee{background:#eee}
.b-red{background:#f60}
.b-orang{background:#f90}
.b-green{background:#45b73f}
.fl{float:left;}
.fr{float:right;}
.bfb50{width:50%}
.bfb80{width:80%}
.pointer{cursor:pointer;}/*小手*/
.f32{font-size:32px}
.f20{font-size:20px}
.f22{font-size:22px}
.f16{font-size:16px}
.f14{font-size:14px}
.f12{font-size:12px}
.lh30{line-height:30px;}
.fw-normal{font-weight: normal;}
.none{display:none;}
.relative{position:relative;}
.absolute{position:absolute;}

/*按钮开关样式*/
.multi-switch{width:50px;user-select:none;-webkit-backface-visibility:hidden;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none}.multi-switch *{-webkit-transition:all ease 0.3s;-moz-transition:all ease 0.3s;-ms-transition:all ease 0.3s;-o-transition:all ease 0.3s;transition:all ease 0.3s}.multi-switch .switch-content{background:none;background-color:#D97C6F;height:31px;position:relative;cursor:pointer;border-radius:31px   ;-moz-border-radius:31px   ;-webkit-border-radius:31px   ;-ms-border-radius:31px   }.multi-switch .switch-content .switch-circle{background:#FFF;width:29px;height:29px;position:absolute;top:1px;left:0%;z-index:1;margin-left:1px;border-radius:29px   ;-moz-border-radius:29px   ;-webkit-border-radius:29px   ;-ms-border-radius:29px   ;box-shadow: 3px 3px 0px rgba(0,0,0,0.1)  ;-moz-box-shadow: 3px 3px 0px rgba(0,0,0,0.1)  ;-webkit-box-shadow: 3px 3px 0px rgba(0,0,0,0.1)  }.multi-switch .switch-content .info-slide{position:absolute;z-index:2;width:50%;height:100%;display:block}.multi-switch .switch-content .info-slide.active{right:0;border-radius:0 31px 31px 0;-moz-border-radius:0 31px 31px 0;-webkit-border-radius:0 31px 31px 0;-ms-border-radius:0 31px 31px 0}.multi-switch .switch-content .info-slide.disable{left:0;border-radius:31px 0 0 31px;-moz-border-radius:31px 0 0 31px;-webkit-border-radius:31px 0 0 31px;-ms-border-radius:31px 0 0 31px}.multi-switch .switch-content.active{background-color:#5DC177}.multi-switch .switch-content.active .switch-circle{left:100%;margin-left:-30px}.multi-switch .switch-content.disabled{background-color:#CCC;cursor:default}.multi-switch .switch-content.initial{background-color:#dddddd}.multi-switch .switch-content.initial .switch-circle{left:50%;margin-left:-14.5px}.multi-switch input{display:none}
/*上传图片input */
#file_upload {display: none;}



.w1200 {border: 1px solid #000;}
.h5div {width: 351px; height: 700px;background: url(../img/phone.png) no-repeat 0 30px;}

